.portfolio-section {
    padding-top: 94px;
    padding-bottom: 94px;
}
.portfolio-nav {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-bottom: 50px;
}
@media screen and (min-width:768px) {
    .portfolio-nav{
    justify-content: center;
    }
}
.portfolio-nav__list {
    margin-right: 8px;
    &:last-child {
    margin-right: 0px;
    }
    &:nth-child(3) {
        margin-right: 74px;
        @media screen and (min-width:768px) {
            margin-right: 8px;
        }
    }
    &:nth-child(-n + 3) {
            margin-bottom: 15px;
                @media screen and (min-width:768px) {
                margin-bottom: 0;
        }
    }
}
.portfolio-nav__button {
    font-family: inherit;
    font-weight: 500;
    line-height: 26px;
    font-size: 16px;
    letter-spacing: 0.03em;
    text-decoration: none;
    color: $text-color;
    background-color: $bcben-color;
    box-sizing: 0;
    border:none;
    cursor: pointer;
    border-radius: 4px;
    padding: 6px 22px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

&:hover {
    color: $bg-color;
    background-color: $color-hover;
    box-shadow: 0px 4px rgba(0, 0, 0, 0.25);
}
&:focus {
    box-shadow: 0px 4px rgba(0, 0, 0, 0.25);
    }
}